@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-fundo: #FFFFFF;
    --cor-principal: #90C2C3;
    --cor-destaque: #F9D0D6;
    --cor-link: #F2794D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

.container {
    position: sticky;
    top: 0;
    z-index: 10;
}

.content-header {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    padding: 0.5rem;   
    text-align: center;
}

nav {
    margin-top: 0;
    background-color: var(--cor-destaque);
    width: 100%;
    /* height: 2.5rem; */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 3px 5px 10px 5px;
    text-transform: uppercase;
    font-size: 12px;
}

nav ul li {
    margin: 0 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-link);
    font-weight: bold;
    padding: 0.2rem;
}

nav ul li a:hover {
    color: #FFFFFF;
    background-color: var(--cor-link);
    transition: all 0.3s ease;
    border-radius: 0.4rem;
}

section.content-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0px;

    div {
        background-color: var(--cor-principal);
        color: #FFFFFF;
        padding: 75px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 26px;
    }

    div b { 
        font-size: 35px; 
        text-transform: uppercase;
    }
    div i { 
        font-family: "Playwrite DK Loopet", cursive;
        text-transform: lowercase;
        font-size: 30px; 
        font-weight: 100;
    } 

    div:nth-child(1) { background-color: #F0A7C2; }
    div:nth-child(2) { background-color: #FEB954; }
    div:nth-child(3) { background-color: #F2794D; }
    div:nth-child(4) { background-color: #FCBFAD; }
}

section.content-subscribe {
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    color: #FFFFFF;
    padding: 2rem 0;
    text-align: center;

    article b { 
        font-size: 35px; 
        text-transform: uppercase;
    }

    article p { 
        font-family: "Playwrite DK Loopet", cursive;
        text-transform: lowercase;
        font-size: 30px; 
        font-weight: 100;
    }
}

.content-produtos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 2rem;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    width: calc(22%);
    flex-direction: column;
    justify-content: space-between;
}

.card b, p { color: #504f4f; }

.card p {
    text-transform: uppercase !important;
    margin-top: .5rem;
    font-size: 1rem;
}

.card img {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

.card button {
    background-color: #F0A7C2;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.625rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background-color: #5b8d90;
}

footer {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    text-align: center;
    padding: 1rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .card {
        width: calc(33.33% - 2rem);
    }
}

@media (max-width: 768px) {
    .card {
      width: calc(50% - 2rem); /* 2 por linha */
    }
  }

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 por linha */
    }
}